    <footer class="footer"></footer>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- Plugins&Scripts -->                  
    <script src="/js/swiper.min.js"></script>   
    <script src="/js/jquery.fancybox.min.js"></script>       
    <script src="/js/f.js"></script>
    <script async src="/js/checkMetamask.js"></script>
    <script src="/js/cookies.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>