<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Crypto Fighting Birds</title> 
    <!-- CSS -->        
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&amp;subset=cyrillic" rel="stylesheet"> 
    <link href="/css/swiper.min.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
  </head>
  <body>
    
    <div class="wrapper">
    <!-- header -->
      <header class="header">
        <div class="wrap clearfix">
          <div class="user">
            <div class="name"><a href="/user">{{userData.name}}</a></div>
            <div class="points">{{userBalance}}</div>
          </div>
          <div class="btn-box">
            <a href="/birdspedia">Birdspedia</a>
          </div>
        </div>
      </header>
      <!-- / header -->   