{% include "templates/header.html" %}       
      <!-- main -->
      <div class="main">
        <div class="title">achievments</div>
        <div class="wrap clearfix">
            {% if achives.length!=0 %}
            <ul class="achieve-list">
                {% for achiv in achives %}
                <li class="ach-opened"><span><img src="/images/ach-{{achiv.id}}.png" alt=""><strong>{{achiv.text}}</strong></span></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="wrap clearfix">
          <ul class="achieve-list">
            {% for epmty in empties%}
            <li><span><img src="/images/ach-{{epmty.id}}.png" alt=""><strong>{{epmty.text}}</strong></span></li>
            {% endfor %}     
          </ul>
        </div>
      </div>
      <!-- / main -->
      {% include "templates/footer.html" %}