{% include "templates/header.html" %}   
<!-- main -->
<div class="main">
  <div class="title">baskets</div>
  <div class="wrap clearfix">
    <div class="slider-box">
      <div class="swiper-container basket-slider">
        <div class="swiper-wrapper">              
          <div class="swiper-slide basket-item">
            <img src="/images/box-bronze.png" alt="">
            <strong>Bronze</strong>
            <div class="price"><span>{{busketPrices[0]/1000000000000000000 }}</span></div>
            <a id="buy-bronze" class="buy-btn">Buy</a>
          </div>
          <div class="swiper-slide basket-item">
            <img src="/images/box-silver.png" alt="">
            <strong>Silver</strong>
            <div class="price"><span>{{busketPrices[1]/1000000000000000000 }}</span></div>
            <a id="buy-silver" class="buy-btn">Buy</a>
          </div>
          <div class="swiper-slide basket-item">
            <img src="/images/box-gold.png" alt="">
            <strong>Gold</strong>
            <div class="price"><span>{{busketPrices[2]/1000000000000000000 }}</span></div>
            <a id="buy-gold"class="buy-btn">Buy</a>
          </div>
        </div>            
      </div>  
      <div class="basket-arrow basket-next"></div>
      <div class="basket-arrow basket-prev"></div> 
    </div>          
  </div>
</div>
<!-- / main -->
{% include "templates/footer.html" %}