{% include "templates/header.html" %}      
      <!-- main -->
      <div class="main">
        <div class="title">birdspedia</div>
        <div class="wrap clearfix">
          <div class="pedia-box">
            <div class="pedia-lft">
              <div class="search">
                <div class="form-group">
                  <input class="form-control" placeholder="Search by name" type="text">
                </div>
                <button type="submit" class="search-btn"></button>
              </div>
              <ul class="pedia-list">                
                <li><strong>Title</strong></li>
                <li><a href="#">Lorem Ipsum</a></li> 
                <li><a href="#">Simply</a></li> 
                <li><a href="#">Dummy</a></li> 
                <li><a href="#">Text</a></li> 
                <li><a href="#">Printing</a></li>  
                <li><a href="#">Typesetting</a></li>  
                <li><a href="#">Simply</a></li> 
                <li><a href="#">Dummy</a></li> 
                <li><a href="#">Text</a></li> 
                <li><a href="#">Printing</a></li>  
                <li><a href="#">Typesetting</a></li>  
                <li><a href="#">Industry</a></li> 
                <li><a href="#">Lorem Ipsum has been the industry's standard dummy</a></li> 
                <li></li>
              </ul>
            </div>
            <div class="pedia-rht">
              <div class="pedia-img">
                <img src="images/card.png" alt="">
              </div>  
              <div class="pedia-txt">
                <strong>Lorem Ipsum </strong>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / main -->
      {% include "templates/footer.html" %}