{% include "templates/header.html" %}
<!-- main -->
<div class="main">
  <div class="sell-navigation">
    <div class="wrap">
      <div class="headline">Buy/Sell cards</div>
      <form method="GET">             
        <div class="form">              
          <div class="part">
            <div class="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by name">
              </div>
              <button type="submit" class="search-btn"></button>
            </div>
            <div class="sel-box">
              <select id="sortby" name="sortby">
                <option>Sort by</option>
                <option {% if sort == "lvl-up" %} selected {% endif %} value="lvl-up">Level: Low to High</option>
                <option {% if sort == "lvl-down" %} selected {% endif %} value="lvl-down">Level: High to Low</option>
                <option {% if sort == "price-up" %} selected {% endif %} value="price-up">Price: Low to High</option>
                <option {% if sort == "price-down" %} selected {% endif %} value="price-down">Price: High to Low</option>
              </select>
            </div>
            <!-- <div class="sel-box">
              <select>
                <option>Sort by price</option>
                <option>Low to High</option>
                <option>High to Low</option>
              </select>
            </div> -->
          </div>
          <div class="part">
            <a href="/inventory" class="sell-btn">Sell cards</a>
          </div>              
        </div>
      </form>
    </div>
  </div>
  <!-- catalog -->
  <div class="catalog">
    <div class="wrap">
      <div class="row">
        {% for order in orders %}
        <div class="card-item">
          <a class="open-popup" data-fancybox="" data-src="#modal" href="javascript:;">
            <div class="card">
              <div class="img-box"><img src="/images/bird.png" alt=""></div>
              <div class="info">
                <span class="protect">{{order.bird.protection}}</span>
                <span class="like">{{order.bird.realHP}}</span>
                <span class="attack">{{order.bird.strength}}</span>
              </div>
              <div class="name">{{order.bird.name}}</div>
              <div class="level">{{order.bird.lvl}} уровень</div>
            </div>
          </a>
          <div class="price"><span>{{order.price | truncate(10) }}</span></div>
          <button data-id="{{order.bird.id}}" data-price="{{order.price}}" class="buy-btn buy-bird-btn">Buy</button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- / catalog -->
</div>
<!-- / main -->
</div>

<!-- popup -->
<div class="popup-card" id="modal">
  <div class="popup-card-in">
    <div class="popup-lft">
      <div class="card card-big card-very-big">
        
      </div>
    </div>
    <div class="popup-rht">
      <div class="card-name">peacock</div>
      <div class="card-lvl">
        <span>2 level</span>
        <div class="level-bar"><div style="width: 20%"></div></div>
      </div>          
      <ul class="card-inf">
        <li><span>Owner:</span> <span class="owner"></span></li>
        <!-- <li><span>Date of birth:</span> <span class="date"></span></li> -->
      </ul>  
      <div class="inf-health">17 | <span>24</span></div>
      <div class="inf-attack">17 | <span>24</span></div>
      <ul class="card-stat">
        <li><span>255</span>win</li>
        <li><span>5</span>loose</li>
        <li><span>5</span>draw</li>
      </ul>
      <div class="card-id"></div>
    </div>
  </div>
</div>
<!--/ popup -->
{% include "templates/footer.html" %}