{% include "templates/header.html" %}   
<!-- main -->
<div class="main">
  <!-- top-box -->
  <div class="top-box">
    <div class="wrap">
      <div class="pets-box">
        <div class="headline">my pets</div>
        <div class="more">
          <a href="/inventory">Посмотреть все</a>
        </div>
        <!-- pets-card -->
        <div class="pets-card">
          <div class="slider-container">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                {% if userBirds.length>0 %}
                {% for bird in userBirds%}
                <div class="swiper-slide">
                    <div class="card card-{{bird.name | lower}}">
                        <div class="img-box">
                          {% if bird.level<10 %}
                          <img src="/images/birds/{{bird.name | lower}}1.png" alt="">
                          {% elseif bird.level<20 %}
                          <img src="/images/birds/{{bird.name | lower}}2.png" alt="">
                          {% elseif bird.level>21 %}
                          <img src="/images/birds/{{bird.name | lower}}2.png" alt="">
                          {% endif %}
                        </div>
                        <div class="info">
                          <span class="protect">{{bird.protect}}</span>
                          <span class="like">{{bird.realHP}}</span>
                          <span class="attack">{{bird.attack}}</span>
                        </div>
                        <div class="name">{{bird.name}}</div>
                        <div class="level">{{bird.level}} уровень</div>
                      </div>
                </div>
                {% endfor %}
                {% else %}
                <h1>Empty</h1>
                {% endif %}
              </div>                                              
            </div>
            <div class="nav-btn swiper-button-prev"></div>
            <div class="nav-btn swiper-button-next"></div> 
          </div>
        </div>
        <!-- / pets-card -->
      </div>
      <div class="leaders-box">
        <div class="headline">liders</div>
        <ul class="leaders-list">
          {% for i in range(0, liders.length) -%}
          <li>
            <div class="number">{{liders[i][1]}}</div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- / top-box -->
  <!-- promo-block -->
  <div class="promo-block">
    <div class="wrap">
      <div class="item">
        <div class="headline">Baskets</div>
        <div class="item-img"><a href="/baskets"><img src="/images/basket-img.png" alt=""></a></div>
      </div>
      <div class="item">
        <div class="headline">Buy/Sell cards</div>
        <div class="item-img"><a href="/shop"><img src="/images/sell-img.png" alt=""></a></div>
      </div>
    </div>
  </div>
  <!-- / promo-block -->
  <!-- game-block -->
  <div class="game-block">
    <div class="wrap">
      <div class="battleground">
        <div class="headline">battleground
          <br> 
          <select id="birdsList">
              <option value="" disabled selected>Change your bird</option>
              {% for bird in userBirds%}
              <option value="{{bird.id}}">{{bird.name}}(id: {{bird.id}})</option>
              {% endfor %}
          </select>
          <select id="equipList">
              <option value="" disabled selected>Change your equip</option>
              {% for equip in userEquip%}
                {% if equip.type==1 %}
                <option value="{{equip.id}}">Защита (id: {{equip.id}}, уровень: {{equip.level}})</option>
                {% elseif equip.type==0 %}
                <option value="{{equip.id}}">Атака (id: {{equip.id}}, уровень: {{equip.level}})</option>
                {% endif%}
              {% endfor %}
          </select>
          <button class="attack-btn" id="birdAttack">Attack</button>
        </div>
        <ul class="battleground-list">
          {% for i in range(0, userLastFights.length) -%}
          <li>
            <div class="b-item">
              <div class="name">{{userData.name}} vs. ({{userLastFights[i].secondUser}})</div>
            </div>
            {% if (userLastFights[i].firstUser == userAddress) and (userLastFights[i].draw == false) %}
            <div class="a-item">
              <div class="status lose">Win</div>
            </div>
            {% elseif (userLastFights[i].firstUser != userAddress) and (userLastFights[i].draw == false)%}
            <div class="a-item">
              <div class="status lose">Lose</div>
            </div>
            {% elseif (userLastFights[i].draw == true) %}
            <div class="a-item">
              <div class="status draw">Draw</div>
            </div>
            {% endif %}

          </li>
          {% endfor %}
          
        <!--div class="more"><a href="#">See All</a></div-->
      </div>
      <div class="achievments">
        <div class="headline">achievments</div>
        <div class="bird-box">
          <button>Early bird</button>
        </div>
        <div class="more"><a href="/achiv">See All</a></div>
      </div>
    </div>
  </div>
  <!-- / game-block -->
</div>
<!-- / main -->
</div>
{% include "templates/footer.html" %}