{% include "templates/header.html" %}  
<!-- main -->
<div class="main">
  <div class="sell-navigation">
    <div class="wrap">
      <div class="headline">inventory {{userInventory[6]}}/{{userInventory[5]}} <button id="upgrade-inventory" class="btn">UPGRADE</button></div>
      <form>             
        <div class="form">              
          <div class="part">
            <div class="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by name">
              </div>
              <button type="submit" class="search-btn"></button>
            </div>
            <div class="sel-box">
              <select id="sortby" name="sortby">
                <option>Sort by</option>
                <option {% if sort == "lvl-up" %} selected {% endif %} value="lvl-up">Level: Low to High</option>
                <option {% if sort == "lvl-down" %} selected {% endif %} value="lvl-down">Level: High to Low</option>
              </select>
            </div>
          </div>   
          <div class="part">
            <div class="inv-nav vial">{{userInventory[4]}} <button type="button" id="buy-potion">Buy</button><button type="button" id="burn-potion">Trash</button></div>
            <div class="inv-nav bagel">{{userInventory[2]}} <button type="button" id="burn-eat">Trash</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="bg-wrap">
    <div class="wrap">
      <!-- catalog -->
      <div class="catalog">          
        <div class="row inv-row">
          <div class="left-part">
            <h2>my pets</h2>
            <div class="inner-row">
              {% for i in range(0, userBirds.length) -%}
              <div class="card-box">
                <div class="box-in">
                  <div class="card-holder">
                    <div class="card">
                      <div class="img-box"><img src="/images/bird.png" alt=""></div>
                      <div class="info">
                        <span class="protect">{{userBirds[i].protect}}</span>
                        <span class="like">{{userBirds[i].realHP}}</span>
                        <span class="attack">{{userBirds[i].attack}}</span>
                      </div>
                      <div class="name">{{userBirds[i].name}} (ID: {{userBirds[i].id}})</div>
                      <div class="level">{{userBirds[i].level}} уровень</div>                          
                    </div>
                    <div class="reverse-card" data-id="{{userBirds[i].id}}">
                      <button class="sell">Sell</button>
                      <button class="kick">Kick</button>
                      <button class="feed">Feed</button>
                      <button class="use">Use potion</button>
                    </div>
                  </div>
                </div>
              </div>
              {%- endfor %}
              {% for i in range(0, userInventory[5] - userInventory[6]) -%}
              <div class="card-box">
                <div class="box-in add-box"><a href="#"></a></div>
              </div>
              {%- endfor %}
            </div>
          </div>
          <div class="right-part">
            <h2>equipment</h2>
            <div class="inner-row">
              {% for i in range(0, userEquipment.length) -%}
              <div class="card-box">
                <div class="box-in">
                  <div class="card-holder">
                    <div class="card">
                      <div class="img-box"><img src="images/pet1.png" alt=""></div>
                      <div class="info">
                        <span class="protect">3</span>
                        <span class="like">5</span>
                        <span class="attack">3</span>
                      </div>
                      <div class="name">(ID: {{userEquipment[i].id}})</div>
                      <div class="level">{{userEquipment[i].level}} уровень</div>                          
                    </div>
                    <div class="reverse-card">
                      <button class="sell">Sell</button>
                      <button class="kick">Kick</button>
                      <button class="use">Use potion</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- / catalog -->
      <!-- basket-box -->
      <div id="buskets" class="basket-box">
        <div class="row">
          <div class="item">
              <a href="#">
              <img src="/images/box-bronze.png" alt="">
              <span>{{buskets[0]}}</span>
              <button id="open-bronze">Open</button>
              </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="/images/box-silver.png" alt="">
              <span>{{buskets[1]}}</span>
              <button id="open-silver">Open</button>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img src="/images/box-gold.png" alt="">
              <span>{{buskets[2]}}</span>
              <button id="open-gold">Open</button>
            </a>
          </div>
        </div>

      </div>
      <!-- / basket-box -->
    </div>
  </div>
</div>
<!-- / main -->

<div id="enter_price">
  <span id="modal_close">X</span>
  <div class="modal-content">
    <input id="price-input" type="number" min="0" placeholder="Enter birds price">
    <button id="submit-price" class="btn">Submit</button>
  </div>
</div>
<div id="overlay"></div>
{% include "templates/footer.html" %}