* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  vertical-align: top;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
  display: block;
}

@font-face {
  font-family: 'intro_regular';
  src: url("../fonts/intro-webfont.eot");
  src: url("../fonts/intro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/intro-webfont.woff") format("woff"), url("../fonts/intro-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.psd, .user .points:before, .btn-box a:before, .leaders-box:before, .pets-card .slider-container:before, .info span:before, button.attack-btn:before,
.headline .attack-btn:before, .bird-box:before, .search .search-btn:before, .sel-box:before, .sel-box:after, .sell-btn:before, .card:before, .price span:before, .buy-btn:before, .inv-nav button:before, .btn:before, .reverse-card button:before, .basket-box .item button:before, .vial:before, .bagel:before, .add-box a:before, .reverse-card .use:before, .inf-health:before, .inf-attack:before {
  content: '';
  display: block;
  position: absolute;
}

.trans, .btn-box a, button.attack-btn,
.headline .attack-btn, .bird-box button, .sell-btn, .buy-btn, .inv-nav button, .btn, .reverse-card button, .basket-box .item button, .add-box a:before, .add-box a:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.align, .btn-box a, .more a, .info span, button.attack-btn,
.headline .attack-btn, .bird-box button, .status, .part, .search, .sell-btn, .card .info, .price span, .buy-btn, .inv-nav button, .btn, .reverse-card button, .basket-box .item button {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #1E91CA;
  text-decoration: underline;
}

a:hover, a:focus {
  text-decoration: none;
  color: #1E91CA;
}

button, a, input, select,
.slide.slick-slide.slick-current.slick-active {
  outline: none !important;
}

body {
  background: #353B4B;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.wrapper {
  background: #EBECF1;
}

.wrap {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 15px;
}

.header .wrap {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D7DC;
}

.user {
  float: right;
  margin-top: 5px;
  background: #FAFAFC;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 20px 5px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user .name {
  line-height: 30px;
  padding-right: 14px;
  font-size: 16px;
}

.user .name a {
  color: #000;
  text-decoration: none;
}

.user .points {
  position: relative;
  padding-left: 15px;
  padding-right: 18px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.user .points:before {
  top: 50%;
  margin-top: -6px;
  right: 0;
  width: 7px;
  height: 12px;
  background: url(../images/icons.png) -76px 0 no-repeat;
}

.photo {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.photo img {
  max-width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.btn-box {
  text-align: center;
  margin: 0 400px;
}

.btn-box a {
  position: relative;
  padding: 15px 35px 15px 90px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background: #D6170D;
  color: #fff;
  text-align: left;
  border: 0;
  color: #fff;
  font-size: 21px;
  text-decoration: none;
}

.btn-box a:hover, .btn-box a:focus {
  color: #fff;
  text-decoration: none;
  background: #353B4B;
}

.btn-box a:before {
  top: -10px;
  left: 6px;
  width: 71px;
  height: 83px;
  background: url(../images/icons.png) 0 0 no-repeat;
}

.main {
  padding-top: 40px;
}

.top-box {
  position: relative;
  z-index: 2;
}

.top-box .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline, h1 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'intro_regular';
}

.pets-box {
  width: 83%;
  padding-top: 30px;
  padding-right: 30px;
}

.leaders-box {
  width: 17%;
  padding-top: 30px;
  padding-left: 30px;
  position: relative;
  border-left: 1px solid #D2D3D7;
}

.leaders-box:before {
  top: 0;
  bottom: 0;
  left: 0px;
  width: 1px;
  background: #fff;
}

.leaders-box .headline {
  margin-bottom: 40px;
}

.more {
  text-align: center;
  margin-bottom: 25px;
}

.more a {
  font-size: 14px;
}

.pets-card .swiper-slide {
  width: 246px;
}

.pets-card .slider-container {
  padding: 0 45px;
  position: relative;
}

.pets-card .slider-container:before {
  left: 100px;
  right: 100px;
  bottom: -30px;
  -moz-box-shadow: 0 0 30px 1px #000;
  -webkit-box-shadow: 0 0 30px 1px #000;
  box-shadow: 0 0 30px 1px #000;
}

.pets-card .nav-btn {
  position: absolute;
  display: block;
  width: 18px;
  height: 35px;
  background: url(../images/icons.png) no-repeat;
}

.pets-card .nav-btn.swiper-button-prev {
  background-position: -102px 0;
}

.pets-card .nav-btn.swiper-button-next {
  background-position: -121px 0;
}

.leaders-list {
  counter-reset: li;
  padding: 0;
  margin: 0;
}

.leaders-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.leaders-list li .photo {
  width: 25px;
  height: 25px;
}

.leaders-list li .number {
  padding-left: 20px;
}

.leaders-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.promo-block {
  background: url(../images/bg.jpg) center top repeat-x;
  padding: 245px 0 225px;
}

.promo-block .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-block .item {
  width: 50%;
}

.promo-block .headline {
  margin-bottom: 65px;
}

.item-img {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 250px;
  position: relative;
}

.item-img img {
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.game-block {
  padding: 60px 0;
}

.game-block .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-block .headline {
  margin-bottom: 50px;
}

.battleground {
  width: 75%;
  padding-right: 30px;
}

.battleground-list {
  padding: 0;
  margin: 0 0 20px 0;
}

.battleground-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 32px;
}

.battleground-list li:nth-child(even) {
  background: #E1E5EE;
}

.battleground-list li .b-item {
  width: 66.666%;
  text-align: center;
  overflow: hidden;
}

.battleground-list li .b-item:first-child {
  text-align: left;
}

.battleground-list li .b-item:nth-child(3) {
  text-align: right;
}

.battleground-list li .a-item {
  width: 33.333%;
  text-align: center;
  overflow: hidden;
}

.battleground-list li .a-item:first-child {
  text-align: left;
}

.battleground-list li .a-item:nth-child(3) {
  text-align: right;
}

.battleground-list li .photo {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 3px;
}

.battleground-list li .name {
  font-size: 18px;
  margin-left: 40px;
}

.info span {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-left: 25px;
  margin: 0 8px;
  color: #6B6B6B;
}

.info span:before {
  top: 50%;
  left: 0;
  background: url(../images/icons.png) no-repeat;
}

.info .attack:before {
  width: 15px;
  height: 14px;
  margin-top: -7px;
  background-position: -76px -13px;
}

.info .protect:before {
  width: 14px;
  height: 18px;
  margin-top: -9px;
  background-position: -76px -31px;
}

.info .like:before {
  width: 20px;
  height: 18px;
  margin-top: -9px;
  background-position: -76px -52px;
}

button.attack-btn,
.headline .attack-btn {
  background: #D6170D;
  padding: 6px 15px 6px 40px;
  position: relative;
  border: 0;
  text-align: left;
  color: #fff;
  font-size: 18px;
  line-height: normal;
}

button.attack-btn:before,
.headline .attack-btn:before {
  left: 13px;
  top: 50%;
  margin-top: -7px;
  width: 15px;
  height: 14px;
  background: url(../images/icons.png) -76px -74px no-repeat;
}

button.attack-btn:hover, button.attack-btn:focus,
.headline .attack-btn:hover,
.headline .attack-btn:focus {
  background: #353B4B;
}

.headline .attack-btn {
  margin-left: 10px;
}

.achievments {
  width: 25%;
}

.bird-box {
  position: relative;
  padding-top: 235px;
  margin-bottom: 15px;
  text-align: center;
}

.bird-box:before {
  top: 0;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  height: 201px;
  background: url(../images/icons.png) 0 -97px no-repeat;
}

.bird-box button {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  padding: 16px 20px;
  max-width: 100%;
  border: 1px solid #AEAEAE;
  text-align: center;
  background: transparent;
}

.bird-box button:hover, .bird-box button:focus {
  background: #AFBAD0;
  border-color: #AFBAD0;
  color: #fff;
}

.status {
  color: #fff;
  font-size: 18px;
  padding: 1px;
  width: 60px;
  text-align: center;
}

.status.lose {
  background: #de5f59;
}

.status.draw {
  background: yellow;
}

.status.win {
  background: #4adb58;
}

.footer {
  height: 135px;
}

.sell-navigation {
  padding: 10px 0 30px 0;
}

.sell-navigation .headline {
  margin-bottom: 35px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.part {
  width: 70%;
}

.part:nth-child(2) {
  width: 30%;
  text-align: right;
}

.search {
  margin-right: 15px;
  position: relative;
  margin-bottom: 10px;
  width: 313px;
}

.search .form-group {
  position: relative;
  z-index: 1;
}

.search .form-control {
  width: 100%;
  border: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background: #FAFAFA;
  height: 43px;
  padding: 10px 35px 10px 25px;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  color: #B7BAC9;
}

.search .search-btn {
  display: block;
  position: absolute;
  z-index: 10;
  width: 45px;
  height: 30px;
  border: 0;
  background: transparent;
  top: 50%;
  margin-top: -15px;
  right: 0;
}

.search .search-btn:before {
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  width: 13px;
  height: 12px;
  background: url(../images/icons.png) -99px -38px no-repeat;
}

.sel-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 185px;
  overflow: hidden;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.sel-box select {
  height: 43px;
  background: #FAFAFA;
  font-size: 14px;
  padding: 5px 22px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border: 0;
  width: 110%;
  position: relative;
  z-index: 1;
}

.sel-box:before {
  z-index: 2;
  background: #FAFAFA;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  width: 25px;
  right: 0;
  top: 0;
  bottom: 0;
}

.sel-box:after {
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3B3F40;
  top: 45%;
  right: 20px;
}

.sell-btn {
  text-decoration: none;
  position: relative;
  color: #fff;
  border: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  font-size: 14px;
  padding: 14px 18px 14px 55px;
  background: #D6170D;
  text-align: left;
}

.sell-btn:hover, .sell-btn:focus {
  color: #fff;
  background: #353B4B;
}

.sell-btn:before {
  left: 20px;
  top: 50%;
  margin-top: -7px;
  width: 16px;
  height: 15px;
  background: url(../images/icons.png) -114px -38px no-repeat;
}

.catalog {
  padding: 50px 0;
  background: #F8F9FD;
}

.catalog .row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-item {
  width: 16.666%;
  padding: 0 15px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.card {
  width: 171px;
  height: 237px;
  margin: 0px auto 15px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 6px solid #fff;
  background: #F1EFF0;
}

.card:before {
  z-index: -1;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 10px;
  -moz-box-shadow: 0 0 30px 1px #000;
  -webkit-box-shadow: 0 0 30px 1px #000;
  box-shadow: 0 0 30px 1px #000;
}

.card .img-box {
  height: 175px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 100%;
  position: relative;
}

.card .img-box img {
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.card .info {
  position: relative;
  z-index: 2;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  padding: 0 15px;
  height: 28px;
  text-align: center;
  margin-top: -28px;
  margin-bottom: 5px;
}

.card .info span {
  margin: 0;
  font-size: 13px;
  padding-left: 13px;
}

.card .info span:before {
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.card .info span.like {
  color: #fff;
  padding: 0;
  text-align: center;
  width: 32px;
  height: 29px;
  line-height: 26px;
  background: url(../images/icons.png) -100px -57px no-repeat;
}

.card .info span.like:before {
  display: none;
}

.card .info span.protect {
  padding-left: 0;
  padding-right: 13px;
}

.card .info span.protect:before {
  left: auto;
  right: 0;
}

.card .name {
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #fff;
}

.card .level {
  font-size: 9px;
  color: #1E91CA;
  text-shadow: 1px 1px 0px #fff;
}

.price {
  font-size: 22px;
  font-family: 'intro_regular';
  margin-bottom: 15px;
}

.price span {
  position: relative;
  margin: 0 -15px;
  position: relative;
}

.price span:before {
  width: 9px;
  height: 14px;
  right: -15px;
  top: 6px;
  background: url(../images/icons.png) -139px -57px no-repeat;
}

.buy-btn, .inv-nav button, .btn, .reverse-card button, .basket-box .item button {
  border: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  padding: 8px 18px 8px 40px;
  color: #fff;
  font-size: 16px;
  background: #D7160D;
}

.buy-btn:hover, .inv-nav button:hover, .btn:hover, .reverse-card button:hover, .basket-box .item button:hover, .buy-btn:focus, .inv-nav button:focus, .btn:focus, .reverse-card button:focus, .basket-box .item button:focus {
  background: #353B4B;
}

.buy-btn:before, .inv-nav button:before, .btn:before, .reverse-card button:before, .basket-box .item button:before {
  top: 50%;
  margin-top: -8px;
  left: 15px;
  background: url(../images/icons.png) -136px -37px no-repeat;
  width: 16px;
  height: 16px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'intro_regular';
  background: #e0e3ed;
  padding: 38px 0 40px 0;
  margin-top: -40px;
}

.slider-box {
  padding: 0 30px;
  position: relative;
}

.basket-slider .basket-item {
  width: 370px;
  text-align: center;
}

.swiper-container.basket-slider {
  margin-top: 140px;
  margin-bottom: 80px;
}

.basket-item img {
  max-width: 100%;
}

.basket-item strong {
  display: block;
  font-size: 32px;
  font-family: 'intro_regular';
  text-align: center;
  font-weight: normal;
  padding-top: 40px;
  margin-bottom: 12px;
}

.basket-item .price {
  font-size: 24px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
}

.basket-item a {
  text-decoration: none;
  color: #fff;
}

.gift-modal {
  display: none;
  background: none;
  padding: 0 0 325px 0;
}

.gift-modal .fancybox-close-small {
  display: none;
}

.gift-modal .basket-arrow {
  top: 25%;
}

.gift-modal .basket-arrow {
  right: 20px;
}

.gift-modal .basket-prev {
  left: 20px;
}

.gold-box {
  background: url(../images/modal-box-gold.jpg) center bottom no-repeat;
}

.fancybox-is-open .fancybox-bg {
  background: #494C5B !important;
  opacity: 1 !important;
}

.card-big {
  width: 212px;
  height: 295px;
  text-align: center;
}

.card-big .img-box img {
  max-height: 180px;
}

.card-big .info {
  height: 35px;
  margin-top: -40px;
}

.card-big .info span {
  font-size: 21px;
}

.card-big .info span.like {
  font-size: 16px;
  width: 39px;
  height: 35px;
  line-height: 29px;
  margin: 0 5px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAAwCAMAAACG9cLxAAAAV1BMVEUAAADWFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7/t/0YAAAAHHRSTlMANvYu7EL78dfiBIJt0r1hTMWtqpqMcGdFPBcQUw7X+gAAAO1JREFUSMed0EluwzAAQ1FKshXJduY54f3P2dZoQ7SACjN/SeBtCBXGTSVZN2P4f1XDtlCV7dBeVVjzd+vQWtWU+bc8NdZXI5XaU6nxB13odMHcPVsq3+efCr3KAGCi2wQM1VZ1QE+/Hmf6nbGn3x4d/Trwnd5UkX4RhX4FR/odcaXfFY9so/wADrY6AEi2SvjsZKITvnpWC9Un5lI0UEz47paX/3fDq11einYAxOIiFGek+rgE9QJiBhKzkJiFxCwkZiAVVg20CoDBhGwm1GYWErOQmIPEOqouYGGpE0qAwYQcJmQxIYsJOay00Qd5zLV0tfmB0AAAAABJRU5ErkJggg==") center center;
  background-size: 100% 100%;
}

.card-big .info span.protect {
  padding-right: 18px;
}

.card-big .info span.protect:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.card-big .info span.attack {
  padding-left: 18px;
}

.card-big .info span.attack:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.card-big .name {
  font-size: 22px;
  margin: 8px 0 8px 0;
  font-weight: bold;
}

.card-big .level {
  text-transform: uppercase;
  font-size: 11px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-list .card-big {
  margin: 0 18px;
}

.fancy-close {
  background: #d6170e;
  font-size: 17px;
  color: #fff;
  width: 88px;
  height: 36px;
  position: absolute;
  left: 50%;
  margin-left: -44px;
  bottom: 0;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 12px;
}

.fancy-close:hover, .fancy-close:focus {
  color: #fff;
}

.basket-arrow {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  z-index: 100;
  cursor: pointer;
}

.basket-prev {
  border-bottom: 6px solid #d6170e;
  border-left: 6px solid #d6170e;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 5px;
}

.basket-next {
  border-bottom: 6px solid #d6170e;
  border-left: 6px solid #d6170e;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 5px;
}

.basket-arrow.swiper-button-disabled {
  opacity: 0.3;
  cursor: default;
}

.gift-modal .basket-arrow {
  display: none;
}

.bg-wrap {
  background: #F8F9FD;
}

.light-form .search {
  border: 1px solid #DDDDDD;
  background: #fafafa;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.light-form .sel-box {
  border: 1px solid #DDDDDD;
  background: #fafafa;
}

.headline.has-indent {
  margin-bottom: 40px;
}

.inv-nav {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  background: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 8px 12px;
  -moz-box-shadow: 0 5px 18px -1px rgba(193, 199, 216, 0.55);
  -webkit-box-shadow: 0 5px 18px -1px rgba(193, 199, 216, 0.55);
  box-shadow: 0 5px 18px -1px rgba(193, 199, 216, 0.55);
  height: 40px;
  line-height: 24px;
  font-size: 14px;
  position: relative;
  margin-bottom: 10px;
}

.inv-nav button {
  font-size: 12px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  font-weight: 500;
}

.inv-nav button:before {
  display: none;
}

.vial {
  padding-left: 43px;
  padding-right: 18px;
}

.vial:before {
  left: 15px;
  top: 50%;
  width: 17px;
  height: 21px;
  margin-top: -10px;
  background: url(../images/icons.png) -156px 0 no-repeat;
}

.bagel {
  padding-left: 47px;
}

.bagel:before {
  left: 17px;
  top: 50%;
  width: 21px;
  height: 21px;
  margin-top: -10px;
  background: url(../images/icons.png) -156px -25px no-repeat;
}

.inv-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.inv-row .left-part {
  width: 61%;
}

.inv-row .right-part {
  width: 30%;
}

h2 {
  text-align: center;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'intro_regular';
}

.inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inner-row .card-box {
  padding: 0 5px 10px;
}

.inner-row .box-in {
  width: 170px;
  background: #ECEDF2;
  padding: 11px;
  -moz-box-shadow: inset 0 0 18px -1px #BCC5D6;
  -webkit-box-shadow: inset 0 0 18px -1px #BCC5D6;
  box-shadow: inset 0 0 18px -1px #BCC5D6;
  text-align: center;
  height: 222px;
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.inner-row .card {
  text-align: center;
  max-width: 100%;
  margin-bottom: 0;
  height: 200px;
}

.inner-row .card .img-box {
  height: 130px;
}

.inner-row .card .img-box img {
  max-width: 90%;
}

.add-box {
  position: relative;
}

.add-box a {
  display: block;
  width: 100%;
  text-decoration: none;
  height: 100%;
  position: relative;
}

.add-box a:before {
  width: 80px;
  height: 80px;
  background: #D7DDE9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
}

.add-box a:after {
  content: '+';
  position: absolute;
  z-index: 2;
  color: #576475;
  font-size: 70px;
  height: 80px;
  line-height: 80px;
  width: 80px;
  text-align: center;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
}

.add-box a:hover:before, .add-box a:hover:after {
  opacity: 1;
}

.card-holder {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  height: 200px;
  width: 150px;
}

.card-holder .card-box,
.card-holder .reverse-card {
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
}

.card-holder .card-box {
  z-index: 10;
}

.js-flip .card-box {
  display: none;
}

.js-flip .reverse-card {
  display: block;
}

.reverse-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 11;
  display: none;
}

.reverse-card button {
  position: absolute;
  left: 50%;
}

.reverse-card .sell {
  top: 34px;
  width: 40px;
  margin-left: -20px;
}

.reverse-card .kick {
  top: 64px;
  width: 44px;
  margin-left: -22px;
}

.reverse-card .use {
  bottom: 35px;
  padding-left: 24px;
  width: 90px;
  margin-left: -45px;
}

.reverse-card .use:before {
  width: 9px;
  height: 11px;
  background: url(../images/icons.png) -140px -75px no-repeat;
  top: 50%;
  margin-top: -5px;
  left: 9px;
}

.btn, .reverse-card button, .basket-box .item button {
  font-size: 12px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  font-weight: 500;
}

.btn:before, .reverse-card button:before, .basket-box .item button:before {
  display: none;
}

.basket-box {
  padding-bottom: 35px;
  padding-top: 20px;
}

.basket-box .row {
  text-align: center;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.basket-box .item {
  margin: 0 70px 20px;
}

.basket-box .item a {
  display: block;
  text-decoration: none;
  color: #000;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.basket-box .item img {
  max-width: 100%;
}

.basket-box .item span {
  display: block;
  padding: 27px 0 15px;
  font-size: 29px;
  font-weight: 500;
}

.basket-box .item button {
  position: absolute;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  bottom: -100px;
  left: 50%;
  font-size: 16px;
  width: 78px;
  left: 50%;
  margin-left: -38px;
}

.basket-box a:hover button {
  bottom: 0;
}

.pedia-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 100px 0;
  background: #f3f4f8;
  -moz-box-shadow: 0 29px 30px -9px rgba(139, 140, 145, 0.13);
  -webkit-box-shadow: 0 29px 30px -9px rgba(139, 140, 145, 0.13);
  box-shadow: 0 29px 30px -9px rgba(139, 140, 145, 0.13);
}

.pedia-box .pedia-lft {
  /* width: 27.333333%; */
  width: 328px;
  background: #f7f9fc;
  padding: 25px 30px 35px 25px;
  position: relative;
}

.pedia-box .pedia-lft:after {
  content: '';
  display: block;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #f7f9fc 88%, #f7f9fc 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #f7f9fc 88%, #f7f9fc 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(88%, #f7f9fc), to(#f7f9fc));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #f7f9fc 88%, #f7f9fc 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f7f9fc 88%, #f7f9fc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f9fc',GradientType=0 );
  height: 50px;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 10;
}

.pedia-box .search {
  margin-bottom: 24px;
  width: 270px;
}

.pedia-box .search .form-control {
  border: 1px solid #d1d1d1;
}

.nicescroll-rails:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 45%;
  bottom: 0;
  width: 1px;
  background: #d1d1d1;
}

.nicescroll-cursors {
  border: 1px solid #d1d1d1;
}

.pedia-rht {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -moz-box-shadow: inset 9px 0 12px -11px #e9e9ed;
  -webkit-box-shadow: inset 9px 0 12px -11px #e9e9ed;
  box-shadow: inset 9px 0 12px -11px #e9e9ed;
  padding: 70px 50px 70px 70px;
}

.pedia-list {
  margin: 0;
  padding: 0 60px 0px 0;
  max-height: 330px;
  overflow: auto;
}

.pedia-list li {
  display: block;
  font-size: 16px;
  padding: 10px 0;
}

.pedia-list li a {
  color: #616161;
  font-weight: 300;
  text-decoration: none;
}

.pedia-list li a:hover {
  color: #e51d14;
}

.pedia-list li strong {
  display: block;
  font-size: 18px;
  color: #000;
}

.pedia-img {
  float: left;
  max-width: 250px;
}

.pedia-img img {
  max-width: 100%;
  display: inline-block;
}

.pedia-txt {
  margin-left: 300px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  max-height: 350px;
  padding-right: 20px;
}

.pedia-txt strong {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  text-transform: none;
  display: block;
  margin-bottom: 30px;
}

.pedia-txt p {
  line-height: 24px;
}

.achieve-list {
  margin: 0 0 30px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.achieve-list li {
  display: block;
  width: 20%;
  font-size: 18px;
  color: #afb9d0;
  position: relative;
  text-align: center;
  padding-top: 230px;
  text-align: center;
  height: 310px;
  margin: 47px 0 0 0;
}

.achieve-list li span {
  display: block;
  width: 170px;
  margin: 0 auto;
}

.achieve-list li strong {
  max-width: 80%;
  margin: 0 auto;
  display: block;
  font-weight: 600;
}

.achieve-list li:before {
  content: '';
  display: block;
  position: absolute;
  width: 148px;
  height: 201px;
  background: url(../images/ach-bg.png) 0 0 no-repeat;
  left: 50%;
  margin-left: -74px;
  top: 0;
}

.achieve-list li.ach-opened:before {
  background: url(../images/ach-bg-active.png) 0 0 no-repeat;
}

.achieve-list li img {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  margin: auto;
}

.popup-card {
  background: #fff;
  width: 670px;
  border-radius: 12px;
  padding: 28px;
  display: none;
}

.popup-card-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-card-in .popup-lft {
  width: 272px;
}

.popup-card-in .popup-rht {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 40px;
}

.card-very-big {
  width: 272px;
  height: 370px;
  margin: 0;
}

.card-very-big .info span.like {
  width: 50px;
  height: 45px;
  line-height: 39px;
  font-size: 18px;
}

.card-very-big .info {
  height: 48px;
}

.card-very-big .img-box img {
  max-height: 250px;
  max-width: 100%;
}

.card-very-big .name {
  margin-top: 15px;
}

.card-name {
  font-size: 34px;
  text-transform: uppercase;
  font-family: 'intro_regular';
  margin-left: -2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-lvl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 38px;
}

.card-lvl > span {
  width: 70px;
  font-size: 13px;
  color: #1d90ca;
  text-transform: uppercase;
}

.card-lvl .level-bar {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 4px;
  background: #f0eef0;
  border-radius: 3px;
}

.card-lvl .level-bar div {
  height: 4px;
  background: #b8dcef;
  border-radius: 3px;
}

.card-inf {
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 0;
}

.card-inf li {
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
}

.card-inf li span {
  font-weight: bold;
}

.inf-health, .inf-attack {
  font-size: 14px;
  font-weight: normal;
  padding-left: 29px;
  position: relative;
}

.inf-health span, .inf-attack span {
  font-weight: bold;
}

.inf-health:before, .inf-attack:before {
  width: 18px;
  height: 17px;
  left: 0;
  top: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAAwCAMAAACG9cLxAAAAV1BMVEUAAADWFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7WFw7/t/0YAAAAHHRSTlMANvYu7EL78dfiBIJt0r1hTMWtqpqMcGdFPBcQUw7X+gAAAO1JREFUSMed0EluwzAAQ1FKshXJduY54f3P2dZoQ7SACjN/SeBtCBXGTSVZN2P4f1XDtlCV7dBeVVjzd+vQWtWU+bc8NdZXI5XaU6nxB13odMHcPVsq3+efCr3KAGCi2wQM1VZ1QE+/Hmf6nbGn3x4d/Trwnd5UkX4RhX4FR/odcaXfFY9so/wADrY6AEi2SvjsZKITvnpWC9Un5lI0UEz47paX/3fDq11einYAxOIiFGek+rgE9QJiBhKzkJiFxCwkZiAVVg20CoDBhGwm1GYWErOQmIPEOqouYGGpE0qAwYQcJmQxIYsJOay00Qd5zLV0tfmB0AAAAABJRU5ErkJggg==") center center;
  background-size: 100% 100%;
}

.inf-attack {
  margin-top: 10px;
}

.inf-attack:before {
  width: 15px;
  height: 14px;
  background: url(../images/icons.png) no-repeat;
  background-position: -76px -13px;
}

.card-stat {
  margin: 34px 0 30px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-stat li {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #efefef;
  margin-right: 15px;
}

.card-stat li span {
  display: block;
  font-size: 21px;
  padding-bottom: 2px;
  margin-bottom: 3px;
  font-weight: bold;
  border-bottom: 1px solid #bababa;
  min-width: 33px;
}

.card-id {
  font-size: 12px;
  font-weight: 300;
  color: #c5c5c5;
}

@media (max-width: 1199px) {
  .part {
    width: 80%;
  }
  .part:nth-child(2) {
    width: 20%;
  }
  .card-item {
    width: 20%;
  }
  .part:nth-child(2) {
    width: 30%;
  }
  .inv-row .right-part {
    width: 38%;
  }
  .pedia-rht {
    padding: 50px 40px 50px 40px;
  }
  .pedia-txt {
    margin-left: 280px;
  }
}

@media (max-width: 1150px) {
  .pets-box {
    width: 70%;
  }
  .leaders-box {
    width: 30%;
  }
  .basket-box .item {
    margin: 0 20px 20px;
  }
  .basket-box {
    padding-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .btn-box {
    float: left;
    margin: 0;
  }
  .search {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .sel-box {
    width: 49%;
    margin-right: 1%;
  }
  .sel-box:last-child {
    margin-right: 0;
  }
  .card-item {
    width: 25%;
  }
  .inner-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .inv-row .left-part,
  .inv-row .right-part {
    width: 100%;
    margin-bottom: 20px;
  }
  .pedia-img {
    max-width: 170px;
  }
  .pedia-txt {
    margin-left: 200px;
  }
  .pedia-box .pedia-lft {
    width: 250px;
  }
  .pedia-box .search {
    width: 185px;
  }
  .pedia-txt {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .achieve-list li {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .wrap {
    padding: 5px 15px 10px;
    display: block;
  }
  .header .btn-box {
    float: none;
    padding-top: 10px;
  }
  .header .user {
    float: none;
  }
  .main {
    padding-top: 20px;
  }
  .top-box .wrap {
    display: block;
  }
  .pets-box {
    padding: 0;
    width: 100%;
    margin-bottom: 60px;
  }
  .leaders-box {
    width: 100%;
    padding: 30px 0 0 0;
    border-left: 0;
    border-top: 1px solid #D2D3D7;
  }
  .leaders-box:before {
    left: 0;
    bottom: auto;
    right: 0;
    width: auto;
    height: 1px;
  }
  .promo-block {
    padding: 30px 0;
  }
  .promo-block .wrap {
    display: block;
  }
  .promo-block .item {
    width: 100%;
    margin-bottom: 20px;
  }
  .promo-block .headline {
    margin-bottom: 10px;
  }
  .game-block {
    padding: 20px 0;
  }
  .game-block .wrap {
    display: block;
  }
  .game-block .headline {
    margin-bottom: 10px;
  }
  .game-block .battleground {
    width: 100%;
    padding: 0;
  }
  .achievments {
    width: 100%;
  }
  .footer {
    height: 20px;
  }
  .card-item {
    width: 33.333%;
  }
  .part, .part:nth-child(2) {
    width: 100%;
  }
  .form {
    display: block;
  }
  .sell-btn {
    display: block;
    width: 100%;
  }
  .catalog {
    padding: 25px 0 0;
  }
  .sel-box {
    margin-right: 0;
    width: 100%;
  }
  .card-list .card-big {
    margin: 0 8px;
  }
  .card-list {
    display: block;
    max-width: 212px;
    margin: 0 auto;
  }
  .card-big {
    max-width: 212px;
    margin: 0 !important;
  }
  .gift-modal {
    width: 100%;
  }
  .swiper-container.basket-slider {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'intro_regular';
    background: #e0e3ed;
    padding: 28px 0 30px 0;
    margin-top: -30px;
  }
  .gift-modal .basket-arrow {
    display: block;
  }
  .pedia-box {
    display: block;
  }
  .pedia-box .pedia-lft {
    width: 100%;
  }
  .pedia-box .search {
    width: 100%;
  }
  .achieve-list li {
    width: 33.3333333%;
  }
  .popup-card {
    width: 96%;
    padding: 15px 12px;
  }
  .card-very-big {
    max-width: 272px;
  }
  .popup-card-in .popup-rht {
    padding-left: 20px;
  }
}

@media (max-width: 570px) {
  .card-item {
    width: 50%;
    padding: 0 5px;
  }
  .pedia-rht {
    padding: 25px;
  }
  .pedia-img {
    float: none;
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .pedia-txt {
    margin-left: 0;
  }
  .pedia-txt strong {
    text-align: center;
    margin-bottom: 15px;
  }
  .pedia-txt {
    max-height: auto;
    max-height: none;
    padding-right: 0;
  }
  .achieve-list li {
    width: 50%;
  }
  .popup-card-in {
    display: block;
  }
  .popup-card-in .popup-lft {
    width: 100%;
  }
  .card-name {
    text-align: center;
    font-size: 22px;
  }
  .card-lvl {
    margin-bottom: 10px;
  }
  .card-stat {
    margin: 10px 0;
  }
  .popup-card-in .popup-rht {
    padding-left: 0;
    text-align: center;
  }
  .inf-health, .inf-attack {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }
  .card-stat li {
    margin: 0 5px;
  }
  .card-stat {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .card-very-big {
    margin: 0 auto !important;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 360px) {
  .card-item {
    width: 100%;
  }
  .achieve-list li {
    width: 100%;
    height: auto;
  }
}

.card {
  text-align: center;
}

.card-big .name {
  font-size: 18px;
}

.card .img-box {
  height: 165px;
}

.card-holder .card:after {
  top: 14px;
}

.card-very-big:after {
  width: 230px !important;
  height: 230px !important;
}

.card-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  width: 130px;
  height: 130px;
  z-index: 0;
}

.card-big:after {
  width: 170px;
  height: 170px;
}

.card-banana:after,
.card-bigboss:after,
.card-brandon:after,
.card-butcher:after,
.card-sparrow:after,
.card-greatsnot:after,
.card-groundhead:after,
.card-pinky:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background: url(../images/birds-bg/yellow-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.card-blackswan:after,
.card-cock:after,
.card-deadlyboy:after,
.card-death:after,
.card-ducky:after,
.card-fatty:after,
.card-goosle:after,
.card-hammer:after,
.card-hypnocock:after,
.card-noisy:after,
.card-smartass:after,
.card-smelty:after,
.card-speedfork:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background: url(../images/birds-bg/green-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.card-toucan:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background: url(../images/birds-bg/nature1-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.card-moms:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background: url(../images/birds-bg/nature2-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.card-redbag:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background: url(../images/birds-bg/nature3-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.card-loveme:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background: url(../images/birds-bg/love-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.card-swag:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background: url(../images/birds-bg/swag-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.card-bw {
  background: url(../images/birds-bg/card-special.png) 0 0 no-repeat;
  background-size: 100% 100%;
  border: 0;
}

.card-bw:after {
  background: url(../images/birds-bg/fire-bg.gif) 0 0 no-repeat;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background-size: 100% 100%;
}

.card-rainbow {
  background: url(../images/birds-bg/card-special.png) 0 0 no-repeat;
  background-size: 100% 100%;
  border: 0;
}

.card-rainbow:after {
  background: url(../images/birds-bg/rainbow-bg.gif) 0 0 no-repeat;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background-size: 100% 100%;
}

.card-scooter {
  background: url(../images/birds-bg/card-special.png) 0 0 no-repeat;
  background-size: 100% 100%;
  border: 0;
}

.card-scooter:after {
  background: url(../images/birds-bg/scooter-bg.gif) 0 0 no-repeat;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25px;
  background-size: 100% 100%;
}
