html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'intro_regular';
  src: url("../fonts/intro-webfont.eot");
  src: url("../fonts/intro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/intro-webfont.woff") format("woff"), url("../fonts/intro-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.psd, .start:before {
  content: '';
  display: block;
  position: absolute; }

.trans, .btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn {
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  background: #D6170D;
  padding: 16px 40px;
  font-size: 18px;
  border: 0; }
  .btn:hover, .btn:focus {
    background: #6645B8; }

button, a {
  outline: none !important;
  cursor: pointer; }

body {
  background: #EBECF1;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #000; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700; }

.wrap {
  width: 1170px;
  max-width: 100%;
  margin: 0px auto; }

.header {
  padding: 125px 0 195px;
  position: relative;
  z-index: 2; }
  .header .wrap {
    position: relative; }
  .header .logo {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3px; }
    .header .logo img {
      max-width: 100%; }
  .header .left-part {
    width: 470px;
    text-align: center; }
  .header p {
    font-size: 18px;
    margin: 0 0 43px 0;
    line-height: normal; }

.slogan {
  text-align: center;
  margin-bottom: 25px;
  font-size: 56px;
  font-family: 'intro_regular';
  line-height: 77px;
  text-transform: uppercase; }

.start {
  position: relative;
  padding-left: 57px;
  text-align: left;
  font-size: 17px; }
  .start:before {
    width: 21px;
    height: 17px;
    background: url(../images/ico.png) 0 0 no-repeat;
    left: 19px;
    top: 17px; }

.card-box {
  position: absolute;
  right: 0;
  top: -125px;
  width: 50px;
  height: 50px; }
  .card-box img {
    position: absolute; }
  .card-box .card1 {
    top: 0;
    right: 165px;
    z-index: 10;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .card-box .card2 {
    top: 85px;
    right: -7px;
    z-index: 5;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .card-box .card3 {
    top: 265px;
    right: -123px;
    z-index: 4;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  .card-box .card4 {
    top: 365px;
    right: 225px;
    z-index: 6;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  .card-box .card5 {
    top: 610px;
    right: -230px;
    z-index: 2;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    animation-delay: 0.9s; }

.main {
  position: relative;
  z-index: 1;
  background: url(../images/bg2.jpg) 0 0 repeat;
  padding-top: 65px;
  margin-bottom: 235px; }
  .main .wrap {
    position: relative; }

.wrapper {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  width: 37em;
  position: relative;
  top: 75px; }

.inner {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
  height: 600px;
  background: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  width: 933px;
  margin-left: 35px;
  -moz-box-shadow: 0 22px 30px 9px rgba(171, 177, 184, 0.4);
  -webkit-box-shadow: 0 22px 30px 9px rgba(171, 177, 184, 0.3);
  box-shadow: 0 22px 30px 9px rgba(171, 177, 184, 0.3); }

.text {
  position: absolute;
  left: 0;
  top: 170px;
  padding-left: 315px;
  width: 545px; }
  .text .peacock {
    position: absolute;
    left: -65px;
    top: 30px; }
  .text p {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px; }
  .text strong {
    display: block;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 72px;
    font-family: 'intro_regular';
    padding-top: 15px; }

.button-box {
  text-align: center; }

.footer {
  padding-top: 404px;
  background: url(../images/f-bg.jpg) center bottom no-repeat; }

#reg {
  width: 267px; 
  border-radius: 5px;
  background: #fff;
  position: fixed; 
  top: 45%; 
  left: 50%; 
  margin-top: -150px;
  margin-left: -150px; 
  display: none; 
  opacity: 0;
  z-index: 5; 
  padding: 20px 10px;
}

#modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
  display: block;
}

#reg .modal_title {
  font-size: 25px;
  text-align: center;
}

#reg .modal-content {
  padding-top: 20px;
  text-align: center;
}

#reg .modal-content input {
  width: 100%;
}

#registrate {
  margin-top: 20px;
  padding: 7px 20px;
}

#overlay {
  z-index:3; 
  position:fixed; 
  background-color:#000; 
  opacity:0.8; 
  -moz-opacity:0.8; 
  filter:alpha(opacity=80);
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  cursor:pointer;
  display:none; 
}


@media (max-width: 1640px) {
  .card-box {
    right: 235px; } }

@media (max-width: 1200px) {
  .card-box {
    right: 0;
    z-index: 1; }
  .header {
    overflow: hidden; }
    .header:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.3); } }

@media (max-width: 991px) {
  .header .left-part {
    width: auto;
    position: relative;
    z-index: 2; }
  .inner {
    width: 90%; }
  .wrapper {
    width: 100%; }
  .text {
    padding-left: 270px;
    width: 350px;
    top: 110px; }
  .text strong {
    font-size: 40px;
    line-height: 52px;
    padding-top: 0; }
  .main {
    margin-bottom: 120px; }
  .footer {
    padding-top: 300px; } }

@media (max-width: 767px) {
  .header {
    padding: 20px 0 20px 0; }
  .header:before {
    background: rgba(255, 255, 255, 0.7); }
  .slogan {
    font-size: 35px;
    line-height: 47px; }
  .header p {
    margin-bottom: 20px; }
  .wrapper {
    -webkit-perspective: 0;
    perspective: 0;
    width: auto;
    top: 0; }
  .inner {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    height: auto;
    width: auto;
    margin-left: 0; }
  .text {
    width: auto;
    padding: 0;
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 0 20px;
    top: 0;
    left: 0; }
  .main {
    padding: 20px 0;
    margin-bottom: 20px; }
  .text p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px; }
  .text strong {
    font-size: 30px;
    line-height: 40px; }
  .text .peacock {
    position: absolute;
    left: 0;
    top: 90%;
    width: 20%; }
  .footer {
    padding-top: 20px;
    background: none; } }

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
